<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.shop1.shop1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/ic_launcher" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/blue_sky" />

    <permission
        android:name="ir.shop1.shop1.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ir.shop1.shop1.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".otherClass.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/Name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".Activity.DonePeymentActivity">
            <intent-filter>



                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data

                    android:scheme="danesh" />
            </intent-filter>
    </activity>
        <activity android:name=".Activity.getway">

        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.BasketActivity" />
        <activity android:name=".Activity.ProductActivity" />
        <activity android:name=".Activity.CategoryMiddleActivity" />
        <activity android:name=".Activity.BasketMiddleActivity" />
        <activity android:name=".Activity.ItemActivity" />
        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.AboutDesignerActivity" />
        <activity android:name=".Activity.ComparisonSearchActivity" />
        <activity android:name=".Activity.ComparisonActivity" />
        <activity android:name=".Activity.ResultAdvancedSearchActivity" />
        <activity android:name=".Activity.AdvancedSearchActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.Login2Activity" />
        <activity android:name=".Activity.SignupActivity" />
        <activity android:name=".Activity.ForgetPassActivity" />
        <activity android:name=".Activity.SignupSenfActivity" />
        <activity android:name=".Activity.NewsActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.NewsFullActivity" />
        <activity android:name=".Activity.AboutUsActivity" />
        <activity android:name=".Activity.ContactUsActivity" />
        <activity android:name=".Activity.InternetActivity" />
        <activity android:name=".Activity.WellcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HistoryItemBasketActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">

        </receiver>
    </application>

</manifest>